footer p{
  font-size: 0.8em;
}
h1{
  font-size: 2rem;
}
main{
  padding: 1.5%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main a h1 {
  padding: 8px;
  margin: 30px auto;
}
.container{
  border: 2px #445765ff solid;
  margin: 1.5%;
  width:100%; 
  height: 82vw; 
}
#covid-19{
  margin-bottom: 0;
}