*{
  margin: 0;
}
p{
  font-size: 1.8rem;
}
h1{
  font-size: 4rem;
}
body{
  background-color: #efefefff;
}
main{
  margin: 0 auto;
  width: 80%;
  padding: 1%;
  background-color: #dfdfdfff;
  display:flex;
  justify-content: space-around
}
/*header {
  background-color: #5c407aff;
  background-color: #f97167ff;
  background-color: #f36b81ff;
  background-color: #ec3235ff;
  background-color: #ea3339ff;
  background-color: #ea3236ff;
  background-color: #445765ff;
  background-color: #30dae7ff;
  background-color: #01afedff;
  background-color: #0a1389ff;
  background-color: #6f90c7ff;
  background-color: #5051dbff;
  background-color: #a5f6e9ff;
  background-color: #26ddbfff;
  background-color: #27c5aeff;
  background-color: #199b83ff;
  background-color: #dfdfdfff;
}*/
#superior{
  background-color: rgb(150, 150, 150);
  text-align: center;
}
#inferior{
  background-color: rgb(180, 180, 180);
  text-align: center;
}
#saibaMais{
  width: 85%;
  margin-top: -5%;
  margin-bottom: -5%;
  margin-left: 4%;
}
#logo{
  width: 85%;
  margin-top: 2%;
}
.container{
  display: flex;
  width:48%; 
  height: 41vw; 
  border: 5px #445765ff solid;
  text-align: center;
  justify-content: center;
}
a{
  width:100%; 
  height:100%;
  text-decoration: none;
}
#covid-19{
  background-image: url(../images/covid-19.jpg);
  background-size: cover;
  background-position: center;
}
#dengue{
  background-image: url(../images/dengue.jpg);
  background-size: cover;
  background-position: center;
}
  
main a h1 {
  display: inline-flex;
  border: 3px solid #445765ff;
  border-radius: 55%;
  padding: 15px;
  background-color: white;
  margin: 80px auto;
  color: #0a1389ff;
}
footer{
  padding: 1%;
  width: 98%;
  text-align: center;
  background-color: rgb(150, 150, 150);
}