*{
  margin: 0;
}
p{
  font-size: 1.8rem;
}
body{
  background-color: #efefefff;
}
header{
  width: 100%;
  text-align: center;
  background-color: rgb(150, 150, 150);
}
header img{
  width: 85%;
  margin-top: -5%;
  margin-bottom: -3%;
  margin-left: 4%;
}
main{
  margin: 0 auto;
  width: 80%;
  margin-bottom: 15%;
}
#fundo{
  width: 95%; 
  position: absolute;
  z-index: 1;
  margin-left: -9%;
  margin-top: -5%;
}
a{
  z-index: 0;
}
#interrogacao{
  width: 15%;
  height: auto;  
  position: relative;
  z-index: 2;
  margin: 15% 43%; 
  -webkit-animation: loading 4s infinite alternate;
  -moz-animation: loading 4s infinite alternate;
  -o-animation: loading 4s infinite alternate;
  -ms-animation: loading 4s infinite alternate;
  animation: loading 4s infinite alternate;
}
@keyframes loading {
0% {
  -webkit-transform: translatey(0);
  -moz-transform: translatey(0);
  -o-transform: translatey(0);
  -ms-transform: translatey(0);
  transform: translatey(0);
}

50% {
  -webkit-transform: translatey(25%);
  -moz-transform: translatey(25%);
  -o-transform: translatey(25%);
  -ms-transform: translatey(25%);
  transform: translatey(25%);
}
100% {
  -webkit-transform: translatey(0);
  -moz-transform: translatey(0);
  -o-transform: translatey(0);
  -ms-transform: translatey(0);
  transform: translatey(0);
  }
}
footer{
  padding: 2%;
  width: 100%;
  text-align: center;
  background-color: rgb(150, 150, 150);
}