*{
  margin: 0;
}
p{
  font-size: 1.8rem;
}
body{
  background-color: #efefefff;
}
main{
  margin: 0 auto;
  width: 80%;
  background-color: #dfdfdfff;
}
/*header {
  background-color: #5c407aff;
  background-color: #f97167ff;
  background-color: #f36b81ff;
  background-color: #ec3235ff;
  background-color: #ea3339ff;
  background-color: #ea3236ff;
  background-color: #445765ff;
  background-color: #30dae7ff;
  background-color: #01afedff;
  background-color: #0a1389ff;
  background-color: #6f90c7ff;
  background-color: #5051dbff;
  background-color: #a5f6e9ff;
  background-color: #26ddbfff;
  background-color: #27c5aeff;
  background-color: #199b83ff;
  background-color: #dfdfdfff;
}*/
#superior{
  background-color: rgb(150, 150, 150);
  text-align: center;
}
#inferior{
  background-color: rgb(180, 180, 180);
  text-align: center;
}
#saibaMais{
  width: 85%;
  margin-top: -5%;
  margin-bottom: -5%;
  margin-left: 4%;
}
#logo{
  width: 85%;
  margin-top: 2%;
}
main a img{
  width: 47%;
  height:100%;
  margin-left: 1.5%;
  border: 5px #445765ff solid;
}
footer{
  padding: 2%;
  width: 100%;
  text-align: center;
  background-color: rgb(150, 150, 150);
}