/*
header {
  background-color: #5c407aff;
  background-color: #f97167ff;
  background-color: #f36b81ff;
  background-color: #ec3235ff;
  background-color: #ea3339ff;
  background-color: #ea3236ff;
  background-color: #445765ff;
  background-color: #30dae7ff;
  background-color: #01afedff;
  background-color: #0a1389ff;
  background-color: #6f90c7ff;
  background-color: #5051dbff;
  background-color: #a5f6e9ff;
  background-color: #26ddbfff;
  background-color: #27c5aeff;
  background-color: #199b83ff;
  background-color: #dfdfdfff;
}*/
*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 6rem;
  color: #ec3235ff;
  text-align: center;
  padding-top:3%
}
h2{
  font-size: 4rem;
  color: #ec3235ff;
  padding:2% 8%
}
h3{
  font-size: 3rem;
  color: #ec3235ff;
  padding:1% 4%
}
h4{
  font-size: 1.5rem;
}
p,ul,li,a{
  font-size: 1.5rem;
  line-height: 2em;
}
.text p, .text a{
  text-indent: 2.5rem;
  list-style-position: inside;
}
body{
  background-color: #efefefff;
}
#top{
  background-color: rgb(150, 150, 150);
  text-align: center;
}
#bottom{
  background-color: rgb(180, 180, 180);
  text-align: center;
}
#saibaMais{
 width: 85%;
 margin-top: -5%;
 margin-bottom: -5%;
 margin-left: 4%;
}
#logo{
 width: 85%;
 margin-top: 2%;
}
main{
  width: 80%;
  margin: 0 auto;
  background-color: #dfdfdfff;
}
#background{
  background-image: url(../images/covid-19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 10vh;
  width: 100%;
  opacity: 0.5;
}
section{
  padding: 3%;
}
#statistics{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardNumbers{
width:32%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: #efefefff;
}
main img{
  width: 100%;
  border: 5px #445765ff solid;
  box-sizing: border-box
}
.map{
  width: 100%;
  height: 300px;
  border: 0;
}
#cities{
  width: 100%;
}
.city{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  width: 30%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #efefefff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card p, .card a, .card h4{
 font-size: 1.2rem
}
footer{
  padding: 1%;
  width: 96%;
  text-align: center;
  background-color: rgb(150, 150, 150);
}