*{
  margin: 0;
}
body{
  background-color: #efefefff;
}
#container{
  margin: 0 auto;
  width: 80%;
}
header {
  background-color: #5c407aff;
  background-color: #f97167ff;
  background-color: #f36b81ff;
  background-color: #ec3235ff;
  background-color: #ea3339ff;
  background-color: #ea3236ff;
  background-color: #445765ff;
  background-color: #30dae7ff;
  background-color: #01afedff;
  background-color: #0a1389ff;
  background-color: #6f90c7ff;
  background-color: #5051dbff;
  background-color: #a5f6e9ff;
  background-color: #26ddbfff;
  background-color: #27c5aeff;
  background-color: #199b83ff;
  background-color: #dfdfdfff;
}
#saibaMais{
 width: 104%;
 margin-top: -5%;
 margin-bottom: -5%;
}
#logo{
 width: 100%;
}
main img{
  width: 100%;
  border: 5px #445765ff solid;
}
table{
  width: 100%;
}
th, td{
  padding: 7px;
}
th{
  background-color: #a5f6e9ff;
  text-transform: uppercase;
  border-top: 1px solid #445765ff;
  border-bottom: 1px solid #111;
  text-align: left;
  font-size: 90%;
  letter-spacing: 0.1em;
}
.periodo{
  background-color: #efefefff;
  text-transform: uppercase;
  border-top: 1px solid #445765ff;
  border-bottom: none;
  text-align: center;
  font-size: 120%;
}
tr:hover{
  background-color: #26ddbfff
}